.form__save-button {
   width: 358px;
   height: 50px;
   cursor: pointer;
   padding: 0px;
   background-color: #000;
   font-family: 'Inter', Arial, Helvetica, sans-serif;
   color: #FFFFFF;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 122%;
   text-align: center;

}

@media screen and (max-width:520px) {
   .form__save-button {
      width: 238px;
      align-self: center;
   }
}